<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistroServlet</servlet-name>
        <servlet-class>RegistroServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroServlet</servlet-name>
        <url-pattern>/RegistroServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GestionSalaServlet</servlet-name>
        <servlet-class>GestionSalaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestionSalaServlet</servlet-name>
        <url-pattern>/GestionSalaServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EstadoSalaServlet</servlet-name>
        <servlet-class>EstadoSalaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EstadoSalaServlet</servlet-name>
        <url-pattern>/EstadoSalaServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmpezarJuegoServlet</servlet-name>
        <servlet-class>EmpezarJuegoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmpezarJuegoServlet</servlet-name>
        <url-pattern>/EmpezarJuegoServlet</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>